/*
* @Author: DELL-PC
* @Date:   2017-09-17 23:05:03
* @Last Modified by:   DELL-PC
* @Last Modified time: 2017-09-17 23:20:51
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: #000;
}
.scene{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin: 0 auto;
    margin: 30px auto;
    perspective: 1000px;
}
.scene ul{
	width: 200px;
	height: 200px;
	/* background: gray; */
	margin: 150px;
	position: relative;
	transform-style: preserve-3d;
	transition: all 3s;
}
.scene:hover ul{
	transform: rotate3d(1, 1, 0, 360deg);
}
.scene ul li{
	width: 200px;
	height: 200px;
/* 	background: #333333; */
	position: absolute;
	top: 0;
	left: 0;
	transition: all 3s;
}
.scene:hover .left{
	background: #CE7CEF;
	box-shadow: 0px 0px 15px 10px #fff;
	transform: translateX(-100px) rotateY(90deg);
}
.scene:hover .right{
	background: skyblue;
	box-shadow: 0px 0px 15px 10px #fff;
	transform: translateX(100px) rotateY(90deg);
}
.scene:hover .top{
	background: #FCDCCD;
	box-shadow: 0px 0px 15px 10px #fff;
	transform: translateY(-100px) rotateX(90deg);
}
.scene:hover .bottom{
	background: #f22564;
	box-shadow: 0px 0px 15px 10px #fff;
	transform: translateY(100px) rotateX(90deg);
}
.scene:hover .behind{
	background: #FF0098;
	box-shadow: 0px 0px 15px 10px #fff;
	transform: translateZ(-100px);
}
.scene:hover .front{
	background: rgba(251, 151, 4, 0.6);
	box-shadow: 0px 0px 15px 10px #fff;
	transform: translateZ(100px);
}